.row {
  max-width: 80rem;
}

.top-actions {
  margin-top: 1.25em;
  margin-bottom: -1.88em;
}

.sub-nav {
  background: #f2f2f2;
  padding: .5em 0;
}

.black-box {
  background: black;
  color: white;
  display: inline-block;
  padding: 0 0.3em;
}

.full-bleed {
  margin: 0 -0.9375rem;
}

.tint-box {
  background: #eee;
  padding: .9375rem;
  padding-top: 0;
  margin-bottom: .9375rem;
  border-bottom: 1px solid #ccc;
}

.ruled {
  border: solid #ccc;
  border-width: 0 1px 0 1px;
}

.muted {
  color: #999;
}
