.top-actions {
  margin-top: 1.25em;
  margin-bottom: -1.88em;
}

.sub-nav {
  background: #f2f2f2;
  padding: .5em 0;
}

.black-box {
  background: black;
  color: white;
  display: inline-block;
  padding: 0 0.3em;
}

.muted {
  color: #999;
}
