.row
	.columns.small-12
		article
			h4 Teret par Expertises
				ul.square
					li ipsum dolor 
					li sit amet
					li consectetur adipisicing
					li Nulla cupiditate minima
					li facilis? Dolorem
					li esse corporis
				hr
	.columns.small-12
		article.tint-box
			.lead WEBXINE
				strong KOKLASDKF
				p.muted DASVVE <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni.
				p.muted QUESTIONS <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni.

article.tint-box
	.lead WEBZINE
	strong Action Communes

	p: img(src="//fillmurray.com/g/500/800")
	p Lorem ipsum dolor sit amet, consectetur adipisicing.

article.tint-box
	strong  Consectetur adipisicing elit
