article
	h4.black-box A la lune
	div 
		strong Sutesdf
		span.muted  | publdae 12/25/07
	h3 Voluptatum voluptate, nihil aut corporis obcaecati.
	p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in dolore laudantium sequi provident, rem tempora vero repellendus sapiente beatae pariatur, modi, aut ullam nisi.

	.row
		.columns.small-4
			span.fi-folder  Viowr

		.columns.small-8
			ul.inline-list
				li: span.fi-pricetag-multiple: strong Tags:
				li: a(href="") in
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
		.columns.small-12: hr

article
	h4.black-box LOREM
		strong  NIHIL
	a(href="")  Sutesdf
	span.muted  | publdae 12/25/07
	h3 Dolor sit amet, consectetur adipisicing elit.
	p.muted Laudantium, dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in dolore laudantium sequi provident, rem tempora vero repellendus sapiente beatae pariatur.

	.row
		.columns.small-4
			span.fi-folder  Viowr

		.columns.small-8
			ul.inline-list
				li: span.fi-pricetag-multiple: strong Tags:
				li: a(href="") in
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
		.columns.small-12: hr

article
	strong: a(href="")  Sutesdf
	span.muted  | publdae 12/25/07
	h3  Sit quo minima deleniti distinctio harum, ipsum modi.
	p: img(src="//fillmurray.com/g/600/250", alt="")
	p.muted Laudantium, dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in dolore laudantium sequi provident, rem tempora vero repellendus sapiente beatae pariatur.

	.row
		.columns.small-4
			span.fi-folder  Viowr

		.columns.small-8
			ul.inline-list
				li: span.fi-pricetag-multiple: strong Tags:
				li: a(href="") in
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
		.columns.small-12: hr

article
	strong: a(href="")  Sutesdf
	span.muted  | publdae 12/25/07
	h3  Sit quo minima deleniti distinctio harum, ipsum modi.
	p.muted Laudantium, dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in dolore laudantium sequi provident, rem tempora vero repellendus sapiente beatae pariatur.

	.row
		.columns.small-4
			span.fi-folder  Viowr

		.columns.small-8
			ul.inline-list
				li: span.fi-pricetag-multiple: strong Tags:
				li: a(href="") in
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia
