article.tint-box.full-bleed
	h4.black-box Interviews
	.flex-video: <iframe src="https://www.youtube.com/embed/YE6MQ56_yyg" frameborder="0" allowfullscreen></iframe>
	h3 Voluptatum voluptate, nihil aut corporis obcaecati.
	p.muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores in dolore laudantium sequi provident.

	.row
		.column.small-4
			span.fi-folder  Viowr

		.column.small-8
			ul.inline-list
				li: span.fi-pricetag-multiple: strong Tags:
				li: a(href="") in
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia

article
	h4.black-box Agenda
	
	.row.collapse
		.columns.small-4
			img(src="//fillmurray.com/g/200/200", alt="", style="padding-right: .65em;")

		.columns.small-8
			strong Legit Murray
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quis ex.
	.row.collapse
		.columns.small-4
			img(src="//fillmurray.com/g/199/200", alt="", style="padding-right: .65em;")

		.columns.small-8
			strong Legit Murray
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quis ex.
	.row.collapse
		.columns.small-4
			img(src="//fillmurray.com/g/201/200", alt="", style="padding-right: .65em;")

		.columns.small-8
			strong Legit Murray
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quis ex.
	.row.collapse
		.columns.small-4
			img(src="//fillmurray.com/g/202/200", alt="", style="padding-right: .65em;")

		.columns.small-8
			strong Legit Murray
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, quis ex.

	.row
		.columns.small-12: hr

article
	h3  Distinctio harum.
	div: a(href="") Laudantium
	strong Asperiores in dolore.
	p.muted Laudantium, dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	strong Quae, aliquam eaque.
	p.muted Earum sint, numquam consectetur corporis veniam facere praesentium eligendi.
	
	.row
		.columns.small-4
			span.fi-folder  Viowr

		.columns.small-8
			ul.inline-list
				li: span.fi-pricetag-multiple: strong Tags:
				li: a(href="") in
				li: a(href="") culpa
				li: a(href="") qui
				li: a(href="") officia